.counter{
    min-width: 200px;
    font-size: 50px;
    height: 200px;
    padding: 25px;
    color: #faf6f6;
    font-family: monospace ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #363d6b;
    border-radius: 15px;
    box-shadow: 0 3px 13px 1px rgba(3, 11, 52, 0.9);
}